beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2017.7.27.1
chardet==3.0.4
Cython==0.26
docutils==0.14
EasyProcess==0.2.3
idna==2.6
Kivy==1.10.0
Kivy-Garden==0.1.4
lxml==3.8.0
olefile==0.44
Pillow==6.2.0
pygame==1.9.3
Pygments==2.2.0
PyQt5==5.9
PyVirtualDisplay==0.2.1
requests==2.18.4
selenium==3.5.0
sip==4.19.3
urllib3==1.22
xlrd==1.1.0
XlsxWriter==0.9.8
xvfbwrapper==0.2.9
